[submodule "libs/spdlog"]
	path = libs/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
[submodule "libs/sentencepiece"]
	path = libs/sentencepiece
	url = https://github.com/google/sentencepiece.git
	branch = master
[submodule "libs/tomlplusplus"]
	path = libs/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
	branch = master
